In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
BD=pd.read_csv('blood_transfusion.csv')

In [3]:
BD.head()

   Recency  Frequency  Monetary  Time        Class
0        2         50     12500    98      donated
1        0         13      3250    28      donated
2        1         16      4000    35      donated
3        2         20      5000    45      donated
4        1         24      6000    77  not donated